# Binaries
bin/
bin-int/

# Files
*.log
*.user
*.hint
TulipProfile-Runtime.json
TulipProfile-Shutdown.json
TulipProfile-Startup.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj